<!DOCTYPE html>
<html>
  <head>
    <script src="assets/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="assets/paper-button/paper-button.html">
    <link rel="import" href="assets/paper-input/paper-input.html">
    <link rel="import" href="assets/paper-styles/paper-styles.html">
    <link rel="import" href="assets/paper-toast/paper-toast.html">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <style is="custom-style">
     paper-button.custom {
	 --paper-button-ink-color: var(--paper-pink-a200);
	 /* These could also be individually defined for each of the
	    specific css classes, but we'll just do it once as an example */
	 --paper-button-flat-keyboard-focus: {
	     background-color: var(--paper-pink-a200);
	     color: white !important;
	 };
     }
     paper-button.custom:hover {
	 background-color: var(--paper-indigo-100);
     }
     paper-button.indigo {
	 background-color: var(--paper-indigo-500);
	 color: white;
	 --paper-button-raised-keyboard-focus: {
	     background-color: var(--paper-pink-a200) !important;
	     color: white !important;
	 };
     }
    </style>
    <script>
     function submitForm() {
	 document.getElementById('form').submit();
     }
    </script>
  </head>
  <body>
    <div class="contents">
      Please login and find the message!
      <%= "<paper-toast id=\"toast-failure\" text=\"Fail to login...\" opened></paper-toast>" if fail_to_login %>
    </div>
    <div class="input-form">
      <form is="iron-form" id="form" method="post" action="login">
	<paper-input label="Username" name="user"></paper-input>
	<paper-input label="Password" type="password" name="pass"></paper-input>
	<paper-button raised class="custom indigo" onclick="submitForm()">Submit</paper-button>
      </form>
    </div>
  </body>
</html>


